<div class="button-menu">
  <div class="row">
    <div class="col-sm-6 col-md mb-5 button-wrap">
      <div class="button-menu-option" id="random-button">
        <a href="/random">Choose a random drink</a>
      </div>
    </div>
    <div class="col-sm-6 col-md mb-5 button-wrap">
      <div class="button-menu-option" id="search-drink-button">
        <a href="/search">Search a specific drink</a>
      </div>
    </div>
    <div class="col-sm-6 col-md mb-5 button-wrap">
      <div class="button-menu-option" id="search-ingredient-button">
        <a href="/ingredient">Search drinks by ingredient</a>
      </div>
    </div>
  </div>
</div>