<footer>
  <div class="row" id="icon-credits">
    <div class="col-sm-12 col-md">
      <a
        href="https://www.flaticon.com/free-icons/dice"
        title="dice icons"
        >Dice icons created by juicy_fish - Flaticon</a
      >
    </div>
    <div class="col-sm-12 col-md">
      <a
        href="https://www.flaticon.com/free-icons/dice"
        title="dice icons"
        >Dice icons created by juicy_fish - Flaticon</a
      >
    </div>
    <div class="col-sm-12 col-md">
      <a
        href="https://www.flaticon.com/free-icons/cocktail"
        title="cocktail icons"
        >Cocktail icons created by Freepik - Flaticon</a
      >
    </div>
  </div>
</footer>