<nav class="nav d-flex justify-content-center">
  <ul class="nav">
    <li class="nav-link"><a href="/" class="nav-link">Home</a></li>
    <li class="nav-link"><a href="/search" class="nav-link">Search</a></li>
  </ul>
</nav>