@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", Arial, sans-serif;
    font-weight: 200;
    font-size: 20px;
    color: white;
}

body {
    background-color: #304550;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2);
    margin: auto;
    padding: auto;
    max-width: 900px;
    border-radius: 20px;
}

.introduction {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: row;
    justify-content: center;
    gap: 1vw;
    width: 100%;
    box-sizing: border-box;
    margin: 2rem 0 2rem;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.4);
}

.introduction .intro-text {
    font-size:2vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.introduction .intro-text h2 {
    font-weight: bold;
}

.introduction img {
    width: 250px;
    align-items: center;
    justify-content: center;
}

span h2 {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 0 2rem 0 2rem;
    margin-bottom: 2rem;
}

.biography {
    padding: 0 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

.biography .bio-text {
    text-align: justify;
    margin-bottom: 2rem;
}

.biography .bio-image {
    background-color: rgba(0, 0, 0, 0.2);
    text-align: center;
}

.biography .bio-image img {
    background-color: black;
}

.summary {
    padding: 2rem;
}

.summary table {
    border-collapse: collapse;
}

td {
    border: 1px solid black;
    padding: 0.5rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}