<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBlog</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/2e3ab72265.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="style/style.css">    
</head>
<body>
  <main class="mx-auto my-3">
    <nav class="navbar">
      <ul>
        <li><a href="http://localhost:3000/">Home</a></li>
        <li><a href="http://localhost:3000/posts">Posts</a></li>
      </ul>
    </nav>

    <div class="intro my-5">
      <h1>MyBlog.com</h1>
    </div>
