@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

 @media screen and (max-width: 500px) {
  .column .hero h2, .column .conhecimentos h2 {
      font-size:2.1rem; /* Adjust font size for smaller screens */
  }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  
}

.container {
  width: 100%;
  height: 10000px; /* OPCIONAL TESTE */
  background-color: #f5f5dc; /* OPCIONAL TESTE */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
  min-width: 360px;
}

.container .column {
  width: 100%;
  max-width: 800px; /* DIMENSIONAMENTO DO CONTEUDO (COLUNA PRINCIPAL) */
  height: 10000px; /* OPCIONAL TESTE */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  /* background-color: rgba(0, 255, 255, 0.274); /* OPCIONAL TESTE */
}

.topnav {
  width: 100%;
  min-width: 360px;
  height: 70px;
  align-items: center;
  background-color: #313131;
  display: flex;
  justify-content:space-between;
  align-items: center;
  font-size: 40px;
  padding: 0 40px;
}

.topnav .icon {
  height: 100%;
  display: flex;
}

.topnav .icon img{
  height: 80%;
  margin: auto;
}

@media screen and (max-width: 768px) {
  .topnav .icon {
    display: none;
  }
}

.topnav ul {
  display: flex;
  list-style-type: none;
}

.topnav ul li {
  display: flex;
  flex-wrap: wrap;
  margin: 0 15px;
}

.topnav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.35rem;
  font-weight: 500;
  padding: 5px 5px;
  transition: color .2s ease-in-out, box-shadow 0.2s ease-in;
}

.topnav ul li a:hover {
  box-shadow: inset 200px 0 0 0 #f5f5dc;
  color: black;
}

.menu-icon {
  color: #313131;
  font-size: 0.7em;
  padding:  5px;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    color: white;
  }

  .topnav ul li a {
    display: none;
  }
}

.hero {
  width: 100%;
  padding: 8em 1em;
  /* background-color: rgb(121, 77, 77); /* OPCIONAL TESTE */
}

.hero h2 {
  font-family: "Cinzel", Arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 4rem;
}

.hero p {
  text-align: justify;
}

.conhecimentos {
  width: 100%;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 10px;
}

.conhecimentos h2 {
  font-family: "Cinzel", Arial, sans-serif;
  font-size: 48px;
  font-weight: 500;
  margin: 3rem 0;
  text-align: center;
}

.conhecimentos .linguagens {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  height: auto;
  margin: 4.5em 0;
  row-gap: 2.2em;
  /* background-color: rgba(127, 255, 212, 0.404); /* OPCIONAL TESTE */ 
}

.html5, .css, .javascript, .python  {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 130px;
  height: auto;
  padding: 10px;
  row-gap: 1.2em;
  cursor: pointer;
  
  /* background-color: rgba(137, 43, 226, 0.336); /* OPCIONAL TESTE */ 
}

.html5:hover, .css:hover, .javascript:hover, .python:hover {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
}

.conhecimentos .linguagens i {
  font-size: 3.5em;
}

.conhecimentos .linguagens a {
  text-decoration: none;
  text-align: center;
  color: black;
  font-weight: 600;
  font-size: 1.5em;
}

.conhecimentos p {
  text-align: justify;
  margin: 10px 0;
}