@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&family=Frank+Ruhl+Libre:wght@300;400;500;600;700;800;900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

 @media screen and (max-width: 500px) {
  .column .hero h2, .column .conhecimentos h2 {
      font-size: 2rem; /* Adjust font size for smaller screens */
  }

  .topnav ul li a {
    display: none;
    font-size: 1.2em;
  }

  .topnav .menu-icon {
    display: inline-block;
    color: white;
    font-size: 1em;
  }
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", Arial, sans-serif;
  
}

.container {
  width: 100%;
  height: 10000px; /* OPCIONAL TESTE */
  background-color: beige; /* OPCIONAL TESTE */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  padding: 20px;
}

.container .column {
  width: 100%;
  max-width: 800px; /* DIMENSIONAMENTO DO CONTEUDO (COLUNA PRINCIPAL) */
  height: 10000px; /* OPCIONAL TESTE */
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  /* background-color: rgba(0, 255, 255, 0.274); /* OPCIONAL TESTE */
}

.topnav {
  width: 100%;
  height: 100px;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.808);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  font-size: 40px;
}

.topnav ul {
  display: flex;
  list-style-type: none;
}

.topnav ul li {
  display: flex;
  flex-wrap: wrap;
}

.topnav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.35rem;
  font-weight: 500;
  padding: 0 20px;
}

.topnav ul li a:hover {
  color: #f0c7c7;
  background-color: #f0c7c7;
}

.menu-icon {
  display: none;
}

.hero {
  width: 100%;
  padding: 8em 1em;
  /* background-color: rgb(121, 77, 77); /* OPCIONAL TESTE */
}

.hero h2 {
  font-family: "Cinzel", Arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 4rem;
}

.hero p {
  text-align: justify;
}

.conhecimentos {
  width: 100%;
  padding: 20px 20px;
  background-color: rgba(0, 0, 0, 0.274);
  border-radius: 10px;
}

.conhecimentos h2 {
  font-family: "Cinzel", Arial, sans-serif;
  font-size: 48px;
  font-weight: 400;
  margin: 3rem 0;
  text-align: center;
}

.conhecimentos .linguagens {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  margin: 4.5em 0;
  /* background-color: rgba(127, 255, 212, 0.404); /* OPCIONAL TESTE */ 
}

.conhecimentos .linguagens .html5, .css, .javascript, .python  {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 100px;
  gap: 20px;
  font-size: 2em;
  /* background-color: rgba(137, 43, 226, 0.336); /* OPCIONAL TESTE */ 
}

.conhecimentos .linguagens a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.conhecimentos p {
  text-align: justify;
  margin: 10px 0;
}