* {
  color: white;
}

body {
  background-color: #FFF7FC;
}

nav ul {
  padding: 0;
  margin: 0;
  display: flex;
}

nav li{
  list-style: none;
  display: inline;
  margin-right: 15px;
}

nav a {
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
  padding: 10px;
  background-color: #5755FE;
  border-radius: 10px;
}

input {
  color: black;
}

input[type="submit"] {
  background-color: #5755FE;
  color: white;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 3px 5px;
}

main {
  padding: 15px;
  background-color: #8B93FF;
  border-radius: 10px;
  max-width: 1000px;
  padding: 50px;
}

.intro h1 {
  font-weight: bold;
}

i {
  cursor: pointer;
  font-size: 2rem;
}

.icons {
  display: flex;
  flex-wrap: nowrap;
  max-width: auto;
  gap: 20px;
}

.post {
  min-width: 150px;
  max-width: 500px;
  text-align: justify;
}

.post h1, h2 {
  font-size: 1.2rem;
}

.post h1 {
  font-weight: bold;
}